<!-- create_chat.html -->
{% extends "base.html" %}
{% block content %}
<h1>Criar Novo Chat</h1>

<form method="POST">
    <label for="user_ids">Usuários:</label>
    <select name="user_ids" id="user_ids" multiple>
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.nome }} {{ user.sobrenome }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="chat_name">Nome do Grupo:</label>
    <input type="text" name="chat_name" id="chat_name">
    <button type="submit">Criar Chat</button>
</form>
{% endblock %}