* {
    margin: 0%;
    padding: 0;;
}

header {
    padding: 2% 2%;
    background-color: #0047B6;
}

img {
    width: 10%;
}

.headerImgs  {
    justify-content: space-between;
    display: flex;
}

.userInfo {
    justify-content: center;
    display: flex;
    gap: 5%;
    align-items: center;
    margin-top: 3%;
}

.imgLogoSenai {

}

.imgEspaçoCoordenador {
    width: 40%;
}

.imgLogoSenai2{
    display: none;
}

.imgEspaçoCoordenador2{
    display: none;
}


@media (min-width: 800px){
    header {
        display: flex;
        justify-content: space-between;
        padding: 0.5% 2% ;
    }

    .headerImgs  {
        display: none;
    }

    .imgLogoSenai2{
        display: flex;
        width: 4%;
    }
    
    .imgEspaçoCoordenador2{
        display: flex;
        width: 26%;
    }

    .userInfo {
        margin: 0%;
    }
}