{% extends 'base.html' %}
{% include 'nave.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Gerenciar Aulas para {{ professor.nome }}</h1>

    {% if current_user.nome == professor.nome and current_user.email == professor.email or current_user.adm == 1 %}
    <a href="{{ url_for('adicionar_aula', professor_id=professor.id) }}" class="btn btn-success mb-4">Adicionar Aula</a>
    {% endif %}

    <h2 class="mt-5">Aulas</h2>
    <ul class="list-group mt-3">
        {% if not aulas %}
        <li class="list-group-item text-muted">Sem aulas</li>
        {% endif %}
        {% for aula in aulas %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <strong>{{ aula.materia }}</strong> - Sala: {{ aula.sala }} - Dia: {{ aula.dia }} - Horário de Início: {{ aula.horario_inicio.strftime('%H:%M') }} - Horário de Fim: {{ aula.horario_fim.strftime('%H:%M') }}
            </div>
            {% if current_user.nome == professor.nome and current_user.email == professor.email or current_user.adm == 1 %}
            <div class="d-flex align-items-center">
                <a href="{{ url_for('edit_aula', professor_id=professor.id, id=aula.id) }}" class="btn btn-warning btn-sm me-2">Editar</a>
                <form action="{{ url_for('delete_aula', professor_id=professor.id, id=aula.id) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja deletar esta aula?');">
                    <button type="submit" class="btn btn-danger btn-sm">Deletar Aula</button>
                </form>
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('manage_professores', setor_id=professor.setor_id) }}" class="btn btn-secondary mt-4">Voltar</a>
</div>
{% endblock %}
