{% extends 'base.html' %}
{% include 'nave.html' %}

{% block content %}
<div class="container mt-4">
    <h3 class="text-2xl font-semibold mb-4">Adicionar Professor ao Setor: {{ setor.nome }}</h3>
    <form method="post" class="bg-white p-6 rounded-lg shadow-md">
        {{ form.csrf_token }}

        <div class="mb-4">
            {{ form.usuario.label(class="block text-gray-700 text-sm font-bold mb-2") }}
            {{ form.usuario(class="form-control border border-gray-300 rounded-lg py-2 px-3 w-full") }}
        </div>

        <div>
            {{ form.btnSubmit(class="btn btn-primary bg-blue-500 text-white font-bold py-2 px-4 rounded w-full") }}
        </div>
    </form>
    <a href="{{ url_for('setorLista') }}"
       class="inline-block mt-6 px-4 py-2 bg-gray-500 text-white rounded-md hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500 transition">
        Voltar
    </a>
</div>
{% endblock %}
