{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h3>Editar Professor</h3>
        <form method="post">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome do Professor</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{ professor.nome }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{{ url_for('manage_professores', setor_id=professor.setor_id) }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}
