{% extends 'base.html' %}
{% include 'nave.html' %}

{% block content %}
<div class="container mt-4">
    <h3 class="text-2xl font-semibold mb-4">Editar Professor</h3>
    <form method="post" class="bg-white p-6 rounded-lg shadow-md">
        <div class="mb-4">
            <label for="nome" class="block text-gray-700 text-sm font-bold mb-2">Nome do Professor</label>
            <input type="text" class="form-control border border-gray-300 rounded-lg py-2 px-3 w-full" id="nome" name="nome" value="{{ professor.nome }}" required>
        </div>

        <div class="mb-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email do Professor</label>
            <input type="text" class="form-control border border-gray-300 rounded-lg py-2 px-3 w-full" id="email" name="email" value="{{ professor.email }}" required>
        </div>

        <div class="flex justify-between">
            <button type="submit" class="btn btn-primary bg-blue-500 text-white font-bold py-2 px-4 rounded">Salvar</button>
            <a href="{{ url_for('manage_professores', setor_id=professor.setor_id) }}" class="btn btn-secondary bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded">Cancelar</a>
        </div>
    </form>
</div>

{% endblock %}
