{% extends 'base.html' %}
{% include 'nave.html' %}

{% block content %}
<div class="container mx-auto my-28 p-6 bg-white rounded-lg shadow-lg">
    <h3 class="text-2xl font-semibold mb-6 text-gray-800">Professores do Setor: {{ setor.nome }}</h3>

    <form method="get" class="flex flex-wrap gap-4 mb-6">
        <div class="relative w-full">
            <input type="text" name="pesquisa" placeholder="Pesquisar por nome do setor"
                class="w-full px-4 py-2 pr-10 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                required>
            <span class="absolute inset-y-0 right-3 flex items-center pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-400">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
                </svg>
            </span>
        </div>
    </form>

    {% if current_user.adm == 1 %}
    <a href="{{ url_for('add_professor', setor_id=setor.id) }}"
       class="inline-block px-4 py-2 mb-4 bg-green-600 text-white rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 transition">
        Adicionar Professor
    </a>
    {% endif %}

    <div class="overflow-x-auto">
        <table class="w-full text-left bg-gray-50 border border-gray-200 rounded-md shadow-sm">
            <thead>
                <tr class="bg-gray-200 text-gray-700">
                    <th class="px-6 py-3 font-medium">Foto</th>
                    <th class="px-6 py-3 font-medium">Nome</th>
                    <th class="px-6 py-3 font-medium">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for professor in professores %}
                <tr class="border-b border-gray-200">
                    <td class="px-6 py-4">
                        <img src="{{ professor.profile_picture }}" alt="Foto de {{ professor.nome }}"
                             class="w-10 h-10 rounded-full object-cover">
                    </td>
                    <td class="px-6 py-4">{{ professor.nome }}</td>
                    <td class="px-6 py-4 flex items-center gap-2">
                        <a href="{{ url_for('manage_aulas', professor_id=professor.id) }}"
                            class="px-3 py-2 flex items-center justify-center text-sm font-semibold text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition">
                            <span>Visualizar Professores</span>
                        </a>

                        {% if current_user.adm == 1 %}
                        <a href="{{ url_for('edit_professor', setor_id=setor.id, id=professor.id) }}"
                            class="flex items-center justify-center w-8 h-8 bg-yellow-500 text-white rounded-md hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-400 transition">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="h-5 w-5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                            </svg>
                        </a>

                        <a href="{{ url_for('delete_professor', setor_id=setor.id, id=professor.id) }}""
                            onclick="return confirm('Tem certeza que deseja deletar este professor?');"
                            class="flex items-center justify-center w-8 h-8 bg-red-600 text-white rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 transition">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ url_for('setorLista') }}"
       class="inline-block mt-4 px-4 py-2 bg-gray-500 text-white rounded-md hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500 transition">
        Voltar
    </a>
</div>
{% include 'footer.html' %}

{% endblock %}
