{%extends 'base.html' %}

{%block content%}

<div class="container">
    {% include 'nave.html' %}

    <div class="row mt-4">

        <h3>Detalhes da Turma</h3>

        <div class="col-md-6 mt-4">
            Nome da turma:
            <input type="text" value="{{obj.turma}}" class="form-control bg-secondary text-white" readonly>
        </div>
        <div class="col-md-6 mt-4">
            Nome do professor:
            <input type="text" value="{{obj.nome}}" class="form-control bg-secondary text-white" readonly>
        </div>

        <hr>
        <a href="{{url_for('atividade')}}"class="btn btn-primary">Adicionar Atividade</a>
        <hr>
        <a href="{{url_for('atividadeLista')}}"class="btn btn-primary">Ver Atividades </a>


    </div>

    {% endblock %}

</div>

