{% extends 'base.html' %}

{% block content %}
<div class="container">

    <hr>
    <div>
        <h3>Sistema de Gerenciamento Escolar</h3>
        <h6>Feito por Mateus Bosquetti</h6>
    </div>

    <div>
        {% if current_user.is_authenticated %}
        {% include 'nave.html' %}
        <hr>
        <br>
        <span class="btn btn-primary">{{current_user.nome}} {{current_user.sobrenome}}</span>
        <a href="{{url_for('logout')}}" class="btn btn-danger">Sair</a>
        {% else %}

        <form action="" method="post" class="row mt-4 p-4 round border shadow">
            <h3>Bem Vindo</h3>
            {{form.csrf_token}}

            {{form.email.label()}}
            {{form.email(class="form-control")}}

            {{form.senha.label()}}
            {{form.senha(class="form-control")}}

            {{form.btnSubmit(class="btn btn-primary col-12 mt-3")}}
        
            <div class="col-12 mt-4">tem cadastro? <a href="{{url_for('cadastro')}}" class="btn-primary">Clique aqui e faça o seu cadastro</a></div>
        </form>

        {% endif %}
        <hr>

        <img src="{{url_for('static', filename='img/Logotipo-SENAI-Slogan.png')}}" height="255" width="390">
    
    </div>
</div>
{% endblock %}



      
